body
{
	transition-duration: 2s;
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
}
.main
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
header
{
	text-align: center;
}
footer
{
	text-align: center;
}
@media screen and (max-width: 900px)
{
	.main
	{
		width: 90%;
	}
}